<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные владельца машин</title>
</head>
<body>
<span>ФИО владельца: </span> <span th:text="${person.getFullName()}">FullName</span>
<br/>
<span>Электронная почта: </span> <span th:text="${person.getEmail()}">Email</span>
<br/>
<span>Номер телефона: </span> <span th:text="${person.getPhone()}">Phone</span>
<br/>
<div th:if="${person.getDealer() != null}">
    <form th:method="PATCH" th:action="@{/persons/{id}/releaseDealer(id=${person.getId()})}">
        <input type="submit" value="Освободить от дилера">
    </form>
</div>
<div th:if="${person.getDealer() == null}">
    <span> У этого владельца нет дилера </span>
    <div th:if="${!dealers.isEmpty()}">
        <form th:method="PATCH" th:action="@{/persons/{id}/chooseDealer(id=${person.getId()})}">
            <label for="dealer">Выберите дилера: </label>
            <select th:object="${dealer}" th:field="*{id}" id="dealer">
                <option th:each="dealer : ${dealers}" th:value="${dealer.getId()}" th:text="${dealer.getTitle()}">
                </option>
            </select>
            <input type="submit" value="Выбрать дилера">
        </form>
    </div>
    <div th:if="${dealers.isEmpty()}">
        <span>Список дилеров пуст </span>
    </div>
</div>

<div th:if="${cars}">
    <div th:if="${cars.isEmpty()}">
        <b>Машин нет, создайте хотя бы одну</b>
    </div>
    <div th:if="${!cars.isEmpty()}">
        <span> У этого владельца нет машин, назначить машину? </span>
        <form th:method="PATCH" th:action="@{/persons/{id}/chooseCar(id=${person.getId()})}">
            <label for="car">Выберите машину по уникальному номеру: </label>
            <select th:object="${car}" th:field="*{id}" id="car">
                <option th:each="car : ${cars}" th:value="${car.getId()}" th:text="${car.getUniqueNumber()}">
                </option>
            </select>
            <input type="submit" value="Назначить машину">
        </form>
        <hr/>
    </div>
</div>
<div th:if="${carsOwner}">
    <hr/>
    <b>Машины человека:</b>
    <br/>
    <div th:each="car : ${carsOwner}">
        <a th:href="@{/cars/{id}(id=${car.getId()})}"
           th:text="${car.getUniqueNumber() + ', ' + car.getDateCreation()}"
        >car</a>
    </div>
    <hr/>
</div>


<form th:method="GET" th:action="@{/persons/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать поля владельца"/>
</form>
<form th:method="DELETE" th:action="@{/persons/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить владельца"/>
</form>
<form th:method="GET" th:action="@{/persons}">
    <input type="submit" value="Вернуться к списку владельцев машин"/>
</form>

</body>
</html>